.cabecalho{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    padding-top: 1rem;
}

.cabecalho__logo{
    max-width: 117px;
}

.cabecalho__menu-lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cabecalho__menu-item{
    margin: 1rem;
    border-bottom: 2px solid transparent;
    color: var(--cinza_claro);
    font-size: 1.25rem;
    font-weight: 500;    
}

.cabecalho__menu-item:hover{
    border-bottom: 2px solid var(--cabecalho_hover);
}

.ativo{
    color: var(--cinza_ativo);
    border-bottom: 2px solid var(--cabecalho_hover);
}