.banner{
    position: relative;
}

.banner__img{
    background-image: url(../../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);;
}

.banner__titulo{
    font-family: Pacifico, cursive;
    color: var(--branco_titulo);
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 0){
    .banner__titulo{
        font-size: 3rem;
        text-align: center;
    }

    .banner__img{
        height: calc(100vh - 9rem);
        width: 100%;
    }
}

@media screen and (min-width: 768px){
    .banner__titulo{
        font-size: 5rem;
    }

    .banner__img{
        height: calc(100vh - 5rem);   
    }
}