.rodape{
    background-color: var(--cinza_ativo);
    color: var(--cinza_claro);
    padding: 1.75rem 5rem;
    text-align: center;
    text-transform: lowercase;
    font-size: .9rem;
    font-weight: 300;
}

.rodape:hover{
    color: var(--branco_titulo);
}