:root{
    --cinza_ativo: #333;
    --cinza_claro: #8C8888;
    --cabecalho_hover: orange;
    --branco_titulo: #f5f5f5;
    --vermelho_vinho: #8d0606;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 0 6%;
}